<div class="row"> 
	<a id="{{saison.id}}"><h1>{{saison.name}}</h1></a>

	<blockquote>
		{{saison.description}}
	</blockquote>

	<div>
		<div class="videoWrapper">
			<iframe src="{{saison.trailer-url}}" width="500" height="281" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
		</div>
	</div>

	<div class="short-movie">
		<div class="row">
			<div>
				<h2 class="movie-title">
					{{saison.movies.title}}
				</h2>
				<h3 class="movie-info">Un film d'Akim Isker et Mohamed Belhamar - 2012 - 27min</h3>
			</div>

			<div class="col-md-6 imagewrapper">
				<img class="picture-movies" src="images/movies/Jmangepasdporc.jpg" />
				<p><a target="_blank" href="http://vimeo.com/90465587#t=0m12s">Voir la bande annonce</a></p>
			</div>

			<div class="col-md-6">
				<h4>Synopsis</h4>
				<div class="synopsis">
					<p>Zino, jeune supporter de l’&eacute;quipe de France de foot, vole une pizza sans se rendre compte qu'elle est au porc. Quelque chose l'empêche de la manger. Le regard des autres ? Son &eacute;ducation ? Sa religion, ou sa foi ? Cette nuit l&agrave;, toutes ses contradictions le conduiront &agrave; affronter sa propre identit&eacute;.</p>
				</div>
				<h4>Biographie</h4>
				<div class="context">
					<p>L'acteur et r&eacute;alisateur Akim Isker (La Planque) et le directeur de casting Mohamed Belhamar
						(Un proph&egrave;te) se sont associ&eacute;s pour la premi&egrave;re fois pour r&eacute;aliser ce court-m&eacute;trage autoproduit tourn&eacute; avec de nombreux acteurs non-professionnels.</p>
					</div>
					<p><a target="_blank" href="http://www.bondyblog.fr/201210121300/akim-isker-cineaste-entre-deux-terres/">Lire le portrait du r&eacute;alisateur</a></p>
				</div>
			</div>
			<div class="row"> 
				<h4>Carri&egrave;re du film</h4>
				<div class="palmares">
					<ul>
						<li>Les P&eacute;pites du Cin&eacute;ma – France 2012</li>
						<li>Festival international du court-m&eacute;trage de Binic –France 2013 – <strong>Prix Paul Simon</strong></li>
						<li>Courte Nuit – France 2013 </li>
						<li>Festival International du court-m&eacute;trage de Josselin - France 2013</li>
						<li>Saint-Paul-Trois-Châteaux – France 2013 </li>
						<li>Festival du Court m&eacute;trage de Namur - Belgique 2013</li>
						<li>Festival Yaound&eacute; Tout Court - Cameroun 2013 - <strong>Meilleure fiction, meilleure image et meilleur acteur </strong></li>
						<li>Journ&eacute;es Cin&eacute;matographiques d'Alger - Alg&eacute;rie 2013</li>
					</ul>
				</div>
			</div>
		</div>

		<div class="short-movie">
			<div class="row">
				<div>
					<h2 class="movie-title">
						La ligne brune 
					</h2>
					<h3>Un film de Rachid Djaïdani – France – 26min – 2010</h3>
				</div>
				<div class="col-md-6">

					<h4>Synopsis</h4>
					<div class="synopsis">
						<p>La Ligne brune est un film construit sur les neuf mois enveloppant la grossesse de ma femme, qui, &agrave; fleur de peau, fera &eacute;clore sur le flow de sa r&eacute;fexion, son bonheur : devenir m&egrave;re.
							Être p&egrave;re ? Je n'ai pas fait d'&eacute;cole et mon instinct animal m'a largu&eacute; depuis Cro-Magnon. La Ligne brune est une &eacute;chographie filmique singuli&egrave;re, un hymne &agrave; l'amour.</p>
						</div>
						<h4>Biographie</h4>
						<div class="context">
							<p>Boxeur, &eacute;crivain et r&eacute;alisateur, Rachid Djaïdani a tourn&eacute; ce film avec un appareil photo et un t&eacute;l&eacute;phone portable. Depuis, il a obtenu <a href="http://www.fipresci.org/" target="blank">le Prix FIPRESCI</a> de la Critique Internationale au Festival de Cannes 2012 et le Prix Michel-d'Ornano au Festival de Deauville 2012 avec son premier long-m&eacute;trage autoproduit durant neuf ans, Rengaine, s&eacute;lectionn&eacute; &agrave; la Quinzaine des R&eacute;alisateurs du Festival de Cannes. Distribu&eacute; en salle par la soci&eacute;t&eacute; <a href="http://www.hautetcourt.com/" target="blank">Haut et Court</a> en novembre 2012, le film a r&eacute;uni plus de 100 000 spectateurs.</p>
						</div>
						<p><a target="_blank" href="http://www.bondyblog.fr/201205210127/rachid-djaidani-cinema-badaoui/">Lire le portrait du r&eacute;alisateur</a></p>
					</div>

					<div class="col-md-6 imagewrapper">
						<img class="picture-movies" src="images/movies/ligne-brune.jpg"/>

						<p><a target="_blank" href="http://vimeo.com/90465587#t=1m00s">Voir la bande annonce</a></p>
					</div>
				</div>
				<div class="row"> 
					<h4>Carri&egrave;re du film</h4>
					<div class="palmares">
						<ul>
							<li>Les P&eacute;pites du Cin&eacute;ma – France 2010</li>
							<li>Pocket Films – France 2011</li>
							<li>Festival international du Film de Dubaï - Dubaï 2011</li>
							<li>Cin&eacute;banlieue - France 2012</li>
						</ul>
					</div>
				</div>
			</div>

			<div class="short-movie">
				<div class="row">
					<div>
						<h2 class="movie-title">
							En &eacute;quipe 
						</h2>
						<h3 class="movie-info">Un film de Steve Achiepo – France – 2012 – 21min<h3>
						</div>

						<div class="col-md-6 imagewrapper">
							<img class="picture-movies" src="images/movies/En-equipe.jpg" />
							<p><a target="_blank" href="http://vimeo.com/90465587#t=2m02s">Voir la bande annonce</a></p>
						</div>

						<div class="col-md-6">
							<h4>Synopsis</h4>
							<div class="synopsis">
								<p>Cergy, banlieue parisienne. Bastien 16 ans, vient de remporter avec son &eacute;quipe un match d&eacute;cisif. Alors qu'il c&eacute;l&egrave;bre la victoire, S&eacute;kou, son meilleur ami, lui fait part d'une nouvelle  fracassante devant l'ensemble de ses co&eacute;quipiers: Lauriane, la jolie flle &agrave; l'&eacute;charpe rouge souhaite faire sa connaissance...</p>
							</div>
							<h4>Biographie</h4>
							<div class="context">
								<p>Premier passage &agrave; la r&eacute;alisation de l'acteur Steve Achiepo (Waramutseho), En &eacute;quipe a &eacute;t&eacute; autoproduit et tourn&eacute; avec les joueurs d'une &eacute;quipe de football de Cergy-Pontoise (95). Fort de son succ&egrave;s, le r&eacute;alisateur vient de terminer son second court-m&eacute;trage, A la source, produit par la soci&eacute;t&eacute; <a href="http://www.barneyproduction.com/" target="_blank">Barney Production</a>. </p>
							</div>
							<p><a target="_blank" href="http://www.bondyblog.fr/201211180001/steve-achiepo-cineaste-tout-de-go">Lire le portrait du r&eacute;alisateur</a></p>
						</div>
					</div>
					<div class="row" > 
						<h4>Carri&egrave;re du film</h4>
						<div class="palmares">
							<ul>
								<li>Côt&eacute; Court – France 2013</li>
								<li>Festival des Films du Monde - Canada 2013</li>
								<li>Festival de Gindou – France 2013</li>
								<li>Cin&eacute;banlieue – France 2012 – <strong>Prix Talents en Courts</strong></li>
								<li>Silence on Court ! - France 2013 – <strong> Prix des Lyc&eacute;ens </strong></li>
								<li>Festival international du film de Leeds - Angleterre 2013</li>
								<li>Festival des cr&eacute;ations t&eacute;l&eacute;visuelles de Luchon - France 2014</li>
								<li>Diffus&eacute; sur France 2 </li>
								<li><strong>Prix Qualit&eacute; CNC 2013</strong></li>
							</ul>
						</div>
					</div>
				</div>

				<div class="short-movie">
					<div class="row">
						<div> 
							<h2 class="movie-title">
								Fais Croquer
							</h2>
							<h3 class="movie-info">Un film de Yassine Qnia - France - 2011 - 22min</h3>
						</div>

						<div class="col-md-6 ">


							<h4>Synopsis</h4>
							<div class="synopsis">
								<p>Yassine, jeune cin&eacute;phile passionn&eacute;, veut tourner un flm dans son quartier. Il
									souhaite associer ses amis d'enfance &agrave; son projet. Mais l'amiti&eacute; a parfois ses travers.</p>
								</div>
								<h4>Biographie</h4>
								<div class="context">
									<p>G&eacute;om&egrave;tre-topographe, Yassine Qnia a tourn&eacute; Fais Croquer avec sa bande d'amis et une toute jeune soci&eacute;t&eacute; de production d'Aubervilliers (93). Apr&egrave;s une belle carri&egrave;re en festivals, Fais Croquer a permis &agrave; son r&eacute;alisateur de co-r&eacute;aliser le court-m&eacute;trage Molii avec Mourad Boudaoud, Carine May et Hakim Zouhani qui a remport&eacute; en 2014 le Prix Sp&eacute;cial du Jury du <a href="http://www.clermont-filmfest.com/" target="blank">Festival international du court-m&eacute;trage de Clermont-Ferrand (France)</a></p>
								</div>
								<p><a target="_blank" href="http://www.bondyblog.fr/201207170033/yassine-qnia-le-cinema-dans-la-peau/">Lire le portrait du r&eacute;alisateur</a></p>
							</div>

							<div class="col-md-6 imagewrapper">
								<img class="picture-movies" src="images/movies/fais-croquer.jpg" />
								<p><a target="_blank" href="http://vimeo.com/90465587#t=3m48s">Voir la bande annonce</a></p>
							</div>
						</div>
						<div class="row">
							<h4>Carri&egrave;re du film</h4>
							<div class="palmares">
								<ul>
									<li>G&eacute;n&eacute;ration Court – France 2011 – <strong>Prix du Public et Prix du Jury</strong></li>
									<li>Premiers Plans – France 2012 - <strong>Prix CCAS</strong></li>
									<li>Itin&eacute;rances – France 2012 - <strong>Prix sp&eacute;cial du jury </strong></li>
									<li>Festival du Cin&eacute;ma europ&eacute;en - France 2012 - <strong>Prix sp&eacute;cial du jury</strong> </li>
									<li>Côt&eacute; Court - France 2012 - <strong>Prix du public</strong></li>
									<li>Cin&eacute;mabrut - France 2012 - <strong>Brutal de bronze </strong></li>
									<li>Tolosa Tourne – France 2012 - <strong>Premier prix </strong></li>
									<li>Courtscourts – France 2012 - <strong>Premier prix du jury</strong></li>
									<li><strong>Lutin du meilleur acteur</strong> pour M'Barek Belkouk</li>
									<li>Diffus&eacute; sur Canal +</li>
									<li><strong>Prix Qualit&eacute; CNC 2013</strong></li>
								</ul>
							</div>
						</div>
					</div>



					<div class="short-movie">
						<div class="row">
							<div> 
								<h2 class="movie-title">
									White Girl in her Panty
								</h2>
								<h3 class="movie-info">Un film de Djinn Carr&eacute;nard – France – 2010 – 24min</h3>
							</div>
							<div class="col-md-6 imagewrapper">

								<img class="picture-movies" src="images/movies/WhiteGirl.jpg" />
								<p><a target="_blank" href="http://vimeo.com/90465587#t=5m06s">Voir la bande annonce</a></p>

							</div>

							<div class="col-md-6">

								<h4>Synopsis</h4>
								<div class="synopsis">
									<p>Ce film est est un pr&eacute;quel du long m&eacute;trage "Donoma" : dans ce court m&eacute;trage Dama et Leelop, expatri&eacute;s fran&ccedil;ais &agrave; New-York se rencontrent, dans Donoma ils se s&eacute;pareront.</p>
								</div>
								<h4>Biographie</h4>
								<div class="context">
									<p>Tourn&eacute; &agrave; l'arrach&eacute; &agrave; New York avec des com&eacute;diens fran&ccedil;ais trouv&eacute;s l&agrave; par hasard, White girl in her panty est le pr&eacute;quel d'un long-m&eacute;trage autoproduit qui fit la sensation au Festival de Cannes 2010 et obtint le <a href="https://fr.wikipedia.org/wiki/Prix_Louis-Delluc#Prix_Louis-Delluc_du_premier_film" target="_blank">Prix Louis Delluc 2011</a> du meilleur premier film, Donoma. Son second long-m&eacute;trage, Faire l'amour, ouvrira la Semaine de la Critique du <a href="http://www.festival-cannes.com/" target="_blank">Festival de Cannes 2014</a>.</p>
								</div>
								<p><a target="_blank" href="http://www.bondyblog.fr/201210151301/djinn-carrenard-artisan-du-septieme-art/">Lire le portrait du r&eacute;alisateur</a></p>

							</div>
						</div>
						<div class="row">
							<h4>Carri&egrave;re du film</h4>
							<div class="palmares">
								<ul>
									<li>Festival du Cin&eacute;ma Europ&eacute;en – Lille 2013</li>
									<li> Les P&eacute;pites du Cin&eacute;ma – La Courneuve 2010</li>
								</ul>
							</div>
						</div>
					</div>
				</div>